# start name:common
ENV=local
# start name:vars type:add
KAFKA_BROKERS=127.0.0.1:19092
KAFKA_USER=superuser
KAFKA_PASSWORD=secretpassword
KAFKA_SASL_MECHANISM=SCRAM-SHA-256
KAFKA_TOPIC=example-topic
KAFKA_STOP_TIMEOUT=5s
